# **Bit Manipulation**

### **Decimal to Binary**

In [ ]:
# TC:0(log2**n)
# SC:0(log2**n)
def decimal_to_binary(n):
  ans=''
  while n!=1:
    rem=n%2
    ans+=str(rem)
    n=n//2
  ans+='1'
  return ans[::-1]
decimal_to_binary(9)

'1001'

In [ ]:
# TC:0(log2**n)
# SC:0(log2**n)
def decimal_to_binary(n):
  ans=''
  while n!=0:
    if n%2==1:
      ans+='1'
    else:
      ans+='0'
    n=n//2
  return ans[::-1]
decimal_to_binary(8)

'1000'

### **Convert Binary to decimal**

In [ ]:
# TC:0(n)
# SC:0(1)
def binary_to_decimal(b):
  n=len(b)
  pow_of_two=1
  num=0
  for i in range(n-1,-1,-1):
    if b[i]=='1':
      num+=pow_of_two
    pow_of_two=pow_of_two*2
  return num

b='1000'
binary_to_decimal(b)

8

### **Swap Of two number**

In [ ]:
a=5
b=6
a=a^b
b=a^b
a=a^b
print(a,b)

6 5

### **Check nth bit is set or not**

In [ ]:
# Use left shift Operator
# TC:O(1)
# SC:O(1)
a=13
n=2
if a &(1<<n)!=0:
  print(True)
else:
  print(False)

True

In [ ]:
# Use Right shift Operator
# TC:O(1)
# SC:O(1)
a=13
n=2
if 1 &(a>>n)!=0:
  print(True)
else:
  print(False)

True

### **Set the nth bit**

In [ ]:
# TC:O(1)
# SC:O(1)
a=10
n=2
ans=a | (1<<n)
print(ans)

14

### **Clear the nth bit**

In [ ]:
# TC:O(1)
# SC:O(1)
a=14
n=2
ans=a & ~(1<<n)
print(ans)

10

### **Toggle the nth bit**
* if nth bit is 1 the

       make nth bit 1 to 0

* if nth bit is 0 the

       make nth bit 0 to 1

In [ ]:
# TC:O(1)
# SC:O(1)
a=13
n=2
ans=a ^ (1<<n)
print(ans)

9

### **Remove The last set bit (right most bit)**

In [ ]:
# TC:O(1)
# SC:O(1)
n=10
print(n & (n-1))

8

### **Check number is power of 2 or not**

In [ ]:
n=10
if n==0:
  print(False)
if n & (n-1)==0:
  print(True)
else:
  print(False)

False

### **Count the number of set bit of given number**

In [ ]:

def count_set_bit(n):
  cnt=0
  while n!=0:
    if n%2==1:
      cnt+=1
    n=n//2
  return cnt

n=16
count_set_bit(n)

1

In [ ]:
def count_set_bit(n):
  cnt=0
  while n!=0:
    cnt+=n & 1 # Check number is odd
    n=n>>1 # do same n//2
  return cnt

n=10
count_set_bit(n)

2

### **Divide Two Integers without using Multiplication and Division Operators | Bit Manipulation**

In [ ]:
# Give Time Limit Exceeded
def divide(dividend: int, divisor: int) -> int:
  sumn=0
  cnt=0
  while sumn+divisor<=dividend:
    cnt+=1
    sumn+=divisor
  return cnt
divide(10,3)

3

In [ ]:
# TC:O(log2**n)**2
# SC:O(1)
def divide(dividend: int, divisor: int) -> int:
  if dividend==divisor:
    return 1
  sign=True
  if dividend>=0 and divisor<0:
    sign=False
  if dividend<0 and divisor>=0:
    sign=False
  ans=0

  n=abs(dividend)
  d=abs(divisor)
  while n>=d:
    cnt=0
    #same as d*2**cnt
    while n>=(d<<cnt+1):
      cnt+=1
    ans+=1<<cnt # same as 2**cnt
    n=n-(d*(1<<cnt))
  if ans>=2**31 and sign==True:
    return 2**31-1
  if ans>=2**31 and sign==False:
    return 2**31
  return  ans if sign is True else -1*ans


divide(-100,3)

-33

### **Minimum Bit Flips to Convert Number**

In [ ]:
# TC:O(31)
#SC:O(1)
start=10
goal=7
ans=start^goal
cnt=0
for i in range(32):
  if ans &(1<<i):
    cnt+=1
print(cnt)

3

In [ ]:
# TC:O(log2(start^goal))
#SC:O(1)
start=10
goal=7
ans=start^goal
cnt=0
while ans!=0:
  if ans%2!=0:
    cnt+=1
  ans=ans//2
print(cnt)

3

### **Single Number-I**

In [ ]:
# TC:O(nlog(size of dict))+O(size of dict)
#SC:O(size of dict)
num=[4,2,1,2,1,3,3]
d={}
for i in num:
  if i not in d:
    d[i]=1
  else:
    d[i]+=1
for k,v in d.items():
  if v==1:
    print(k)

4

In [ ]:
# TC:O(n)
#SC:O(1)
num=[4,2,1,2,1,3,3]
ans=0
for i in num:
  ans=ans^i
print(ans)

4

### **XOR of Numbers in a Given Range**

In [ ]:
# TC:O(n)
# SC:O(1)
n=9
ans=0
for i in range(1,n+1):
  ans=ans^i
print(ans)

1

In [ ]:
# Observetion
# TC:O(1)
# SC:O(1)
def fun(n):
  if n%4==1:
    return 1
  elif n%4==2:
    return n+1
  elif n%4==3:
    return 0
  return n
fun(9)

1

### **XOR of Numbers in a Given between Range**

In [ ]:
# TC:O((k)-(n+1))
# SC:O(1)
k=3
n=9
ans=0
for i in range(k,n+1):
  ans=ans^i
print(ans)

2

In [ ]:
# TC:O(1)
# SC:O(1)
def fun(n):
  if n%4==1:
    return 1
  elif n%4==2:
    return n+1
  elif n%4==3:
    return 0
  return n
k=3
n=9
ans=fun(k-1)^fun(n)
print(ans)

2

### **Single Number III**

In [ ]:
# TC: O(nlogm)+O(m)
# SC: O(m)
def twoOddNum(Arr):
  # code here
  d={}
  ans=[]
  for i in Arr:
      if i not in d:
          d[i]=1
      else:
          d[i]+=1
  for k,v in d.items():
      if v==1:
          ans.append(k)
  return ans
Arr = [4, 2, 4, 5, 2, 3, 3, 1]
twoOddNum(Arr)

[5, 1]

In [ ]:
# TC: O(2n)
# SC: O(1)
arr =[4, 2, 4, 5, 2, 3, 3, 1]
ans=0
for i in range(len(arr)):
  ans=ans^arr[i]
rightbit=(ans & ans-1)^ans
b1=0
b2=0
for i in range(len(arr)):
  if arr[i] & rightbit:
    b1=b1^arr[i]
  else:
    b2=b2^arr[i]
print(b1,b2)

5 1

### **Print all prime factors of a Number**

In [ ]:
### Print all diviser of any number
# TC:O(N)
# SC:O(number of output)
def div(n):
  ans=[]
  for i in range(1,n+1):
    if n%i==0:
      ans.append(i)
  return ans
div(36)

[1, 2, 3, 4, 6, 9, 12, 18, 36]

In [ ]:
# TC:O(sqrt(n))
# SC:O(number of output)
import math
def div(n):
  ans=[]
  for i in range(1,int(math.sqrt(n))+1):
    if n%i==0:
      ans.append(i)
      if n//i!=i:
        ans.append(n//i)
  return ans
div(36)

[1, 36, 2, 18, 3, 12, 4, 9, 6]

In [ ]:
# Check prime
#TC:O(N)
#SC:O(1)
def is_prime(n):
  cnt=0
  for i in range(1,n+1):
    if n%i==0:
      cnt+=1
  if cnt==2:
    return "Prime"
  return "Not Prime"
is_prime(2)

'Prime'

In [ ]:
# Check prime
#TC:O(root(n))
#SC:O(1)
import math
def is_prime(n):
  cnt=0
  for i in range(1,int(math.sqrt(n))+1):
    if n==1:
      return False
    if n%i==0:
      cnt+=1
      if n%i !=i:
        cnt+=1
  if cnt==2:
    return True
  return False
is_prime(2)

True

In [ ]:
math.ceil(math.sqrt(4))

2

In [ ]:
#TC:O(root(n)+logn)
#SC:O(number of output)
import math
def prime_fact(n):
  ans=[]
  for i in range(1,math.ceil(math.sqrt(n))+1):
    if n%i==0:
      if is_prime(i):
        ans.append(i)
      if n//i!=i:
        if is_prime(n//i):
          ans.append(n//i)
  return ans
prime_fact(4)

[2]

### **Sieve of Eratosthenes**

In [ ]:
def fun(n):
  cnt=0
  for i in range(2,n+1):
    if is_prime(i):
      cnt+=1
  return cnt
fun(99)

25

In [ ]:
def fun(n):
  prime=[1]*(n+1)
  cnt=0
  for i in range(2,n+1):
    if prime[i]==1:
      for j in range(2*i,n+1,i):
        prime[j]=0
  for i in range(2,n):
    if prime[i]==1:
      cnt+=1
  return cnt
fun(6)

3

### **Smallest Prime Factor (SPF) | Prime Factorisation**

In [ ]:
def fun(n):
  spf=[0]*(10**5+1)
  for i in range(2,10**5+1):
    spf[i]=i
  for i in range(2,10**5+1):
    if spf[i]==i:
      j=i*i
      for j in range(i*i,10**5+1,j+i):
        if spf[j]==j:
          spf[j]=i
  for i in range(2,n):
    num=spf[i]
    while num!=1:
      print(spf[num])
      num=num/spf[num]
fun(10)

2
3
2
5
6
7
8
3